*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1{
    font-size: 36px;
    font-weight: 600;
    padding-top: 30px;
}
h2{
    font-weight: 600;
    font-size: 14px;
}
h3{
    font-size: 44px;
    line-height: 55px;
    color: #121212;
    font-weight: 600;
}
h4{
    text-align: left;
    font-weight: 300;
    margin:0 0 30px 0;
}
h5{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px
}
h6{
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
    font-size: 18px;
}


.showcase {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 30px;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
}
.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    mix-blend-mode: overlay;
}
.text{
    position: relative;
    z-index: 10;
}
.text h2{
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}
.text p{
    font-size: 1.1em;
    color: #fff;
    margin: 2.px 0;
    font-weight: 400;
    max-width: 700px;
}
.text a{
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}
.text a:hover{
    letter-spacing: 6px;
}




/********************** service ************************/


/***************** partner *****************/
.bg-partner{
    background-color: #e6e6e6;
}
.partner{
    width: 80%;
    margin: 0px 130px 0px;
    text-align: center;
}
.partner-box{
    width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
	margin-top: 20px;
	font-family: 'Rubik', sans-serif;
	grid-gap : 0px;
	position: relative;
    padding-bottom: 20px;
}
.partner-text h1{
    text-align: right;
}
.partner-text h4{
    text-align: right;
    font-size: 14px;
}
.partner-text img{
    margin-top: 20px;
}
.button-pn{
    float: right;
    width: 180px;
    color: #fff;
    font-size: 12px;
    padding: 12px 50px;
    background: rgb(173, 36, 36);
    border: 0;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
@media (max-width: 774px){
    .showcase, .showcase header{
        padding: 30px;
    } 
    .text h2{
        font-size: 3em;
    }
}
/* iphoneX */
@media(max-width: 416px){
    .showcase header{
        padding: 25px;
    } 
    section.about {
        padding-top: 750px;
    }
    .row{
        padding: 37px;
    }
    .row-service img{
        width: 90%;
    }
    .partner{
        margin: auto;
    }
}