*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1{
    font-size: 36px;
    font-weight: 600;
    padding-top: 30px;
}
h2{
    font-weight: 600;
    font-size: 14px;
}
h3{
    font-size: 44px;
    line-height: 55px;
    color: #121212;
    font-weight: 600;
}
h4{
    text-align: left;
    font-weight: 300;
    margin:0 0 30px 0;
}
h5{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px
}
h6{
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
    font-size: 18px;
}


.showcase {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 30px;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
}
.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    mix-blend-mode: overlay;
}
.text{
    position: relative;
    z-index: 10;
}
.text h2{
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}
.text p{
    font-size: 1.1em;
    margin: 2.px 0;
    font-weight: 400;
    max-width: 700px;
}
.text a{
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}
.text a:hover{
    letter-spacing: 6px;
}




/********************** form ************************/
/* service */
.work{
    width: 100%;
    padding-top: 20px;
}
.work img{
    width: 100%;
}
.service{
    width: 80%;
    margin: 0px 130px 0px;
    text-align: center;
    padding-top: 10px;
    padding-top: 740px;
}
.row-service{
    width: 100%;
    text-align: center;
    background-color: #a80000;
}
.row-service img{
    padding-top: 20px;
    width: 40%;
}

.service-box{
    width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
	margin-top: 20px;
	font-family: 'Rubik', sans-serif;
	grid-gap : 40px;
	position: relative;
    padding-bottom: 90px;
}
.service-text{
    background-color: white;
}
.service-text h1{
    float: left;
}
.service-text h4{
    margin-top: 100px;
    font-size: 14px;
}
.service-text h4 span{
    font-weight: 800;
    color: #a80000;
}
.service-text video{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.service-col img{
    margin-top: 10px;
    width: 37px;
}
.button-sv{
    float: left;
    width: 180px;
    color: #fff;
    font-size: 12px;
    padding: 12px 50px;
    background: rgb(173, 36, 36);
    border: 0;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

/* product */
.container-product{
    width: 100%;
    height: 130vh;
    background-image: linear-gradient(rgba(53, 53, 53, 0.7),
     rgba(58, 58, 58, 0.7)),url(https://www.img.in.th/images/50b0a050f0b7ebba3f296e97687b9ddf.png);
     background-position: center;
     background-size: cover
}
.row{
    width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
	font-family: 'Rubik', sans-serif;
	position: relative;
    padding: 100px;
    padding-top: 200px;
    grid-gap: 50px;
    color: #111;
}
.col{
    
    flex-basis: 50%;
}
.container-product .row .col h1,p {
    color: #fff;
    margin-bottom: 30px;
}
.button-pd{
    width: 180px;
    color: #fff;
    font-size: 12px;
    padding: 12px 50px;
    background: rgb(173, 36, 36);
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 90px;
    cursor: pointer;
    text-decoration: none;
}
.col video{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.about img{
    width: 100%;
}



.partner a{
    text-decoration: none;
  }
.partner a h1{
    text-align: center;
    padding-bottom: 30px;
    color: black;
}


@media (max-width: 946px){
    .nav{
        padding: 1rem 1rem;
    }
    .row-service img{
        width: 70%;
    }
}
@media(min-width: 600px){
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }
}
@media(max-width: 600px){
    .footer{
        padding: 15px;
    }
}
@media (max-width: 774px){
    .nav{
        padding: 0.7rem 1rem;
    }
    .nav .navbar-toggler{
        display: block;
        position: absolute;
        top: 26px;
        right: 16px;
        z-index:  1000000;
        cursor: pointer;
    }
    .nav .menu-bar {
        position: fixed;
        top: 55px;
        width: 300px;
        right: -360px;
        height: 100vh;
        background-color: rgba(256, 256, 256,0.9);
        transition: all 0.6s ease;
    }
    .nav .menu-bar .menu-item{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding: 40px 0;
    }
    .nav .menu-bar .menu-item li{
        margin: 2rem 30px;
    }
    .showcase, .showcase header{
        padding: 30px;
    } 
    .text h2{
        font-size: 3em;
    }
    .service{
        margin-left: 70px;
    }
    .row-service img{
        width: 70%;
    }
}
/* iphoneX */
@media(max-width: 416px){
    .showcase header{
        padding: 25px;
    } 
    .service{
        padding-top: 800px;
        margin-left: 30px;
    }
    .service-text h4{
        font-size: 10px;
    }
    .service-box{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
    .service-col img{
        width: 30px;
    }
    .service-col h3{
        font-size: 9px;
    }
    .row{
        padding: 37px;
    }
    .row-service img{
        width: 90%;
    }
}