*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  
  *, ::after, ::before {
    box-sizing: border-box;
  }
  
  a{
    text-decoration: none;
  }
  li{
    list-style: none;
  }
  h1{
    font-size: 36px;
    font-weight: 600;
  }
  h2{
    font-weight: 600;
    font-size: 14px;
  }
  h3{
    font-size: 44px;
    line-height: 55px;
    color: #121212;
    font-weight: 600;
  }
  h4{
    text-align: left;
    font-weight: 300;
    margin:0 0 30px 0;
  }
  h5{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px
  }
  h6{
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
    font-size: 18px;
  }
  /********************** nav ************************/
  .nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background: transparent;
    transition: all 0.5s ease;
    z-index: 100000;
  }
  .nav.scrolled{
    background-color: #fff !important;
    transition: background-color 200ms linear;
    box-sizing: 7px 10px 15px rgba(0,0,0,0.3);
  }
  .nav .navbar-toggler{
    display: none;
    border: none;
    outline: none;
  }
  .nav .navbar-toggler .toggler-icon{
    width: 27px;
    height: 3px;
    background-color: #121212;
    margin: 5px 0;
    position: relative;
    display: block;
    transition: all 0.3s ease-out 0s;
  }
  .nav .menu-bar .menu-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .nav .menu-bar .menu-item li{
    margin: 0 15px;
  }
  .nav .menu-bar .menu-item li a{
    color: #000;
    font-size: 14px;
    font-weight: 500;
  }
  .nav .menu-bar .menu-item li a:hover{
    color: #a80000;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /********************** head-shape ************************/
  .back .overlay{
    background-image: linear-gradient(rgba(255, 255, 255, 0.733), rgba(180, 180, 180, 0.7),rgba(26, 26, 27, 0.7)),
                url(../imgproduct/630638.jpg);
    width: 100%;
    height: 100%;
  }
  .back{
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }
  .back .hero-shape{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .back .hero-shape img{
    width: 100%;
    display: block;
  }
  .hero-text{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
  }
  .hero-text h6{
    color: #ffffff;
    text-align: center;
    font-weight: 400;
  }
  
  
  @media (max-width: 946px){
    .nav{
        padding: 1rem 1rem;
    }
    .hero-text{
      width: 60%;
    }
    .hero-text h3{
      font-size: 33px;
    }
  }
  @media (max-width: 774px){
    .nav{
        padding: 0.7rem 1rem;
    }
    .nav .navbar-toggler{
        display: block;
        position: absolute;
        top: 26px;
        right: 16px;
        z-index:  1000000;
        cursor: pointer;
    }
    .nav .menu-bar {
        position: fixed;
        top: 55px;
        width: 300px;
        right: -360px;
        height: 100vh;
        background-color: rgba(256, 256, 256,0.9);
        transition: all 0.6s ease;
    }
    .nav .menu-bar .menu-item{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding: 40px 0;
    }
    .nav .menu-bar .menu-item li{
        margin: 2rem 30px;
    }
    .hero-text{
      top: 0%;
    }


  }
  
  @media (max-width: 541px){
    .hero-text{
      width: 100%;
      top: 10%;
    }
    .hero-text h3{
        font-size: 28px;
        line-height: 45px;
    }
    .col-md-6 img{
      width: 100%;
    }
  }
  /* nav */
  

  /********************** service ************************/
  .textbox{
    margin-top: 40px;
  }
  .textbox h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
  }
  .textbox p{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .bg-light {
    background-color: #ffffff!important;
  }
  .py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
  }
  div {
    display: block;
  }
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 1;
    margin: auto;
    
  }


/********************** main ************************/
.brand-area{
  display: grid;
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  }
  .row{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  margin-top: 10px;
  position: relative;
  padding: 10px;
  grid-gap: 20px;
  color: #111;
  }
  .row h1{
  font-size: 58px;
  font-weight: 600;
  padding-top: 30px;
  }
  .service-col{
  flex-basis: 5%;
  margin-bottom: 5%;
  padding: 0 12px 0 ;
  }
  .service-col:hover{
  box-shadow: 0 0 20px 0px rgba(71, 71, 71, 0.301);
  }
  .service-col img{
  width: 50%;
  }
  .port{
  width: 100%;
  text-align: center;
  padding-top: 10px;
  }
  .port-box{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-gap : 40px;
  position: relative;
  padding: 40px 0;
  }
  .port-text{
  background-color: white;
  }
  .port-text h1{
  float: left;
  }
  .port-text h4{
  margin-top: 65px;
  font-size: 16px;
  color: #999;
  }
  .port-text video{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }

  
  /********************** back-top ************************/
#back-top {
    position: fixed;
    bottom: 15px;
    /*margin-left: -150px;*/
    right: 20px;
  }
  
  #back-top a {
    /*width: 60px;*/
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    /*text-transform: uppercase;*/
    text-decoration: none;
    color: black;
    font-weight:bold;
    opacity: 0.9;
  
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
  }
  #back-top a:hover {
    color: #000;
  }
  
  /* arrow icon (span tag) */
  #back-top span {
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 7px;
  margin-left: 5px;
    background: #ddd url(up-arrow.png) no-repeat center center;
  
    /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
  }
  #back-top a:hover span {
    background-color: #3d3d3d;
  }
  #back-top img{
  width: 30px;
  height: 30px;
  margin-top: 10px;
  }
  
  /********************** footer ************************/
  
  footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px 50px 30px;
    color: #fff;
    background-color: #2e2e2e;
    z-index: -5;
  }
  .footer > *{
    flex: 1 100%;
  }
  .footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  .footer-logo {
    width: 60%;
  }
  .footer-socotec{
    width: 55%;
    margin: 15px;
  }
  .footer ul{
    list-style: none;
    padding-left: 0;
  }
  .footer li{
    line-height: 2em;
  }
  .footer a{
    text-decoration: none;
  }
  .footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
  }
  .footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
  }
  .box a{
    color: #999;
  }
  .footer-bottom{
    text-align: center;
    color: #999;
    padding-top: 30px;
  }
  @media(min-width: 600px){
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }
  }
      
/* responsive */

@media (max-width:1050px){
  .col-text,.col-text p, .col-text-reverse p{
    width: 580px;
  }
}

@media (max-width:992px){
  .row, .row-local {
    flex-wrap: wrap;
  }
  .col-video, .col-video-reverse{
    margin: 50px auto;
  }
  .col-text-reverse,.col-text{
    padding-left: 0px;
    margin: 0px auto;
  }
}

@media (max-width:768px){
  .col-text-reverse,.col-text-reverse p,.col-text,.col-text p,.col-text h1{
    width: 500px;
    padding-left: 0px;
  }
}

@media (max-width:576px){
  .col-text,.col-text p,.col-text-reverse,.col-text-reverse p{
    width: 450px;
  }
}
@media (max-width:496px){
  .col-text,.col-text p,.col-text-reverse,.col-text-reverse p{
    width: 90%;
  }
  .col-text{
    margin-left: 10px;
  }
}