
  h1{
    font-size: 36px;
    font-weight: 600;
    padding-top: 30px;
  }
  h2{
      font-weight: 600;
      font-size: 14px;
  }
  h4{
      text-align: left;
      font-weight: 300;
      margin:0 0 30px 0;
  }
  h5{
      color: #777;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      padding: 10px
  }
  h6{
      text-align: left;
      font-weight: 600;
      margin: 10px 0;
      font-size: 18px;
  }

/************************ contain ************************/
/** slider section **/
#main_slider {
    padding:  0 30px;
}
.slider_section .container {
    width: 100%;
    max-width: 1920px;
}
.vert .carousel-item-next.carousel-item-left, .vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.vert .carousel-item-next, .vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0);
}
.vert .carousel-item-prev, .vert .active.carousel-item-left {
    -webkit-transform: translate3d(0,-100%, 0);
    transform: translate3d(0,-100%, 0);
}
.slider_cont {
    padding-left: 190px;
    float: left;
    margin: 100px 0 0;
}
.slider_cont h3 {
    font-size: 70px;
    font-weight: 600;
    color: #000;
    line-height: 70px;
    letter-spacing: -2px;
}
.slider_cont p {
    font-size: 18px;
    color: #999;
    line-height: normal;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-right: 30px;
}
#main_slider .carousel-control-prev, #main_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #e1e0e0;
    opacity: 1;
    font-size: 30px;
    color: #212020;
    border-radius: 100%;
}
#main_slider a.carousel-control-prev {
    position: absolute;
    left: 50px;
    top: 38%;
}
#main_slider a.carousel-control-next {
    position: absolute;
    left: 50px;
    top: 52%;
}
.slider_image img{
    width: 85%;
    padding-right: 20px;
    float: right;
}

/************************ head ************************/

  .col-img{
    display: flex;
    flex-direction: row;
    padding: 0px;
  }
  .col-img img{
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px auto;
    width: 100%;
  }
  .col-img h1{
    font-size: 20px;
    font-weight: 500;
    color: #000;
    font-weight: 600;
  }
  .col-img .text1:hover h1{
    color: rgba(255, 0, 0, 0.612);
    
  }
  .col-img .text1:hover h1 span{
    color: #fff;
  }
  .col-img .text2:hover h1{
    color: rgba(255, 0, 0, 0.612);
  }
  







@media (max-width: 1120px){
    .slider_cont {
        padding-left: 190px;
        float: left;
        margin: 50px 0 0;
    }
    .slider_cont h3 {
        font-size: 50px;
        font-weight: 600;
        color: #000;
        line-height: 50px;
        letter-spacing: -2px;
    }
    .slider_cont p {
        font-size: 15px;
    }
    .slider_image img{
        /* margin-top: 110px; */
        float: right;
    }
    #main_slider {
        padding: 200px 0 30px;
    }
}
@media (max-width: 774px){
    .nav{
        padding: 0.7rem 1rem;
    }
    .nav .navbar-toggler{
        display: block;
        position: absolute;
        top: 26px;
        right: 16px;
        z-index:  1000000;
        cursor: pointer;
    }
    .nav .menu-bar {
        position: fixed;
        top: 55px;
        width: 300px;
        right: -360px;
        height: 100vh;
        background-color: rgba(256, 256, 256,0.9);
        transition: all 0.6s ease;
    }
    .nav .menu-bar .menu-item{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding: 40px 0;
    }
    .nav .menu-bar .menu-item li{
        margin: 2rem 30px;
    }
    .slider_cont {
        padding-left: 190px;
        float: left;
        margin: 100px 0 0;
    }
    .slider_cont h3 {
        font-size: 30px;
        font-weight: 600;
        color: #000;
        line-height: 30px;
        letter-spacing: -2px;
    }
    .slider_cont p {
        font-size: 18px;
        color: #999;
        line-height: normal;
        font-weight: 300;
        margin-top: 15px;
        margin-bottom: 10px;
        padding-right: 30px;
    }
    .slider_cont p span{
        color: #a80000;
    }
    .slider_image img{
        margin-top: 10px;
        width: 70%;
    }
}
/* iphoneX */
@media(max-width: 416px){
    #main_slider {
        padding: 50px 0 30px;
    }
    .slider_cont {
        padding-left: 50px;
        float: left;
    }
    .slider_cont h3 {
        font-size: 50px;
        font-weight: 600;
        color: #000;
        line-height: 50px;
        letter-spacing: -2px;
    }
    .slider_cont p {
        font-size: 15px;
        color: #999;
        line-height: normal;
        font-weight: 300;
        margin-top: 15px;
        margin-bottom: 10px;
        padding-right: 30px;
    }
    .slider_image img{
        width: 100%;
        padding-left: 50px;
        float: left;
    }
    #main_slider .carousel-control-prev, #main_slider .carousel-control-next {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    #main_slider a.carousel-control-prev {
        left: 0px;
        top: 42%;
    }
    #main_slider a.carousel-control-next {
        left: 0px;
        top: 52%;
    }
}